@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

/* Container restante mensal*/
.restante_mensal{
    width:400px;
    margin-left:200px;
    margin-bottom: 50px;
    margin-top:40px;
}

.titulo_restanteMensal{
    margin-left: 40px;
}

.container_restanteMensal{
    display: flex;
    margin-left:40px;
    margin-top:15px
}

.barra-bicolor-vertical {
    width: 23px; 
    height: 150px;
    border-radius: 13px;
    background: linear-gradient(to bottom, #99CB85 20%, #C20000 20%);
}

.container_mensal{
    display: flex;
    flex-direction: column; 
    margin-left:20px;
}


/* Container Ganho*/
.ganhos{
    color:#99CB85;
    font-size:20px
}

.ganhosTotal{
    color:#99CB85;
    font-size:20px;
}

.circle-container-ganhos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 15px solid #99CB85; 
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin-left: 80px ;
}

.total_ganhos{
    display: flex;
    flex-direction:column;
    margin-top:15px;
 
}

.dinheiro_ganhos{
    margin-bottom:0px;
}

.p_total_ganhos{
    font-size:17px;
}

.container_ganhos{
    width:400px;
    margin-left: 200px;
}

.titulo_ganhos{
    margin-left: 40px;
}

/* Container cartão de crédito*/
.container_cartao{
    width:400px;
    margin-left: -5px
}

.titulo_cartao{
    margin-left: 40px;
}

.saldo_cartao{
    color: #00C2B7;
    margin-top:10px;
    margin-left: 10px;
    margin-bottom:2px;
}

.barra-bicolor {
    width: 100%; 
    height: 30px; 
    border-radius: 20px;
    background: linear-gradient(to right, #00C2B7 30%, #D9D9D9 30%);
}

.resultado_cartao{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.valor_cartao{
    text-decoration: underline; 
    color:#808080
}

.valor{
    color:red
}

.container_resultadoCartao{
    margin-top:15px
}

/* Container despesa*/
.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 15px solid #C20000; 
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin-left: 80px ;
}

.total_despesa{
    display: flex;
    flex-direction:column;
    margin-top:15px;
}

.total{
    margin-bottom:0px;
}

.p_total{
    font-size:17px;
}

.container_despesa{
    width:400px;
    margin-left: -5px;
    margin-top:40px;
}

.despesas{
    color:#C20000;
    font-size:20px;
}

.titulo_despesa{
    margin-left: 40px;
}


/* header*/
.icon-cartao{
    width:40px;
    height:40px; 
    background-color: #00C2B7; 
    border-radius: 100px; 
    display: flex;     
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon-despesa{
    width:40px;
    height:40px;  
    background-color: #C20000; 
    border-radius: 100px; 
    display: flex;     
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon-lucro{
    width:40px;
    height:40px;  
    background-color: #99CB85; 
    border-radius: 100px; 
    display: flex;     
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon-saldo{
    width:40px;
    height:40px;  
    background-color: #CD85CA; 
    border-radius: 100px; 
    display: flex;     
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.saldo{
    color: #737272;
}
.despesa{
    color: #737272
}
.cartao{
    color: #737272;
}
.lucro{
    color: #737272;
}
.bi-credit-card{
    font-size: 25px;
}