:root {
    --header-height: 60px;
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --background-color-dark: #363537;
    --text-color-dark: #FAFAFA;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.title{
    margin-left:70px;
    margin-top:20px
}
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EAEAEA;
    transition: .5s;
}

.container-right {
    padding-left: 90px;
    padding-top: 75px;
    padding-right: 30px;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #EAEAEA;
    flex-direction: column;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
}

.cards-combobox {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.idioma-moeda, .aparencia-alteracoes {
    display: flex;
    justify-content: space-between;
}

.combobox {
    width: 200px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.selected-item, .dropdown-item {
    padding: 10px;
    background-color: #fff;
}

.dropdown1 {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #fff;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99CB85;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
}

.button:hover {
    background-color: #99CB85;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

body[data-theme="light"] {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body[data-theme="dark"] {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius:25px !important;
    width:800px;
    margin-top:30px;
    margin-left:130px
}


.container_iconePerfil1{
    display:flex;
    align-items: center;
    justify-content: end;
    margin-left: 900px;
   
}
