.containerPerfil {
    display: flex; /* Define um container flexível */
    align-items: baseline; /* Alinha os itens ao longo da linha base */
    justify-content: center; /* Centraliza os itens no container */
    flex-direction: row; /* Define a direção dos itens em uma linha horizontal */
    position: relative;
    left: 900px;
    gap: 10px;
}

/* css referente à página de transações */


.container{
    display: flex; /* Adiciona uma propriedade flexível */
    gap: 100px;
    justify-content: center;
    align-items: start; /* Propriedade que que faz com que as div's fiquem no início da página */
    flex-flow: row nowrap; /* Faz com que o tamanho dos elementos child não se adequem ao tamanho da tela */
    margin-top: 15px;
}

/* Estilização dos elementos child */

#child_saldo{
    width: 263px;
    height: 111px;
    border-radius: 25px;
    background-color: #FFFFFF;
}

#saldo_atual{
    position: relative;
    left: 17px;
    top: 20px;
}

#valor_saldo{
    position: relative;
    left: 15px;
    top: 20px;
}


#child_despesas{
    width: 263px;
    height: 111px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

#despesas{
    position: relative;
    left: 15px;
    top: 17px;
}

#valor_despesas{
    position: relative;
    left: 15px;
    top: 17px;
}

#cartao_de_credito{
    width: 263px;
    height: 111px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

#cartao{
    position: relative;
    top: 18px;
    left: 16px;
}

#valor_cartao{
    position: relative;
    top: 17px;
    left: 15px;
}

#ganhos{
    width: 263px;
    height: 111px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

#Ganhos{
    position: relative;
    top: 17px;
    left: 16px;
}

#valor_ganhos{
    position: relative;
    top: 15px;
    left: 15px;
}

/* css da tabela */

.container_dois{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

#tabela{
    width: 600px;
    height: 250px;
    background-color: purple;
}