/* css da pagina daqui para baixo*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

.main {
    margin-top: 40px; /* Adiciona uma margem superior de 40px */
}



.elemento {
    width: 300px; 
    height: 200px; 
    background-color: #FFFFFF; 
    border-radius: 25px; /* Define bordas arredondadas com raio de 25px */
    text-align: center; /* Centraliza o texto dentro do elemento */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
}

/* Child para saldo e cartão */
.elemento_dois {
    width: 400px; /* Define a largura do elemento */
    height: 150px; /* Define a altura do elemento */
    position: relative;
    top: 60px;
    background-color: #FFFFFF; 
    border-radius: 25px; /* Define bordas arredondadas*/
    text-align: center; /* Centraliza o texto dentro do elemento */
    float: left; /* Faz o elemento flutuar à esquerda */
}

/* id's dos elementos do child */
#cartao{
   right: 110px;
   position: relative;
   bottom: 23px;
   font-weight: bold;
}

#atual{
    margin-right: 280px;
    position: relative;
    bottom: 25px;
}
#Previsto{
    margin-right: 264px;
    position: relative;
    bottom: 25px;
}

#valorAtual{
    margin-left: 197px;
    position: relative;
    bottom: 105px;
    color: green;
}

#valorPrevisto{
    margin-left: 197px;
    position: relative;
    bottom: 105px;
    color: green;
}


.elemento p {
    margin-top: 40px;
}

.elemento i {
    margin: 50px;
}

.bi-plus-circle {
    font-size: 40px;
}

.icone {
    margin-top: 70px
}

.title {
    font-size: 30px; /* Define o tamanho da fonte para 30px */
    width: 146px; 
    height: 42px;
    position: relative; /* Adiciona posicionamento relativo */
    top: 151px; /* Define a posição superior do elemento */
    left: 308px; /* Define a posição à esquerda do elemento */
    padding-left: 250px; /* Adiciona um preenchimento à esquerda de 250px */
    padding-top: 40px; /* Adiciona um preenchimento superior de 40px */
}

.child {
    width: 408px;
    height: 110px;
    background-color: #FFFFFF;
    border-radius: 25px;
    position: relative;/* Adiciona posicionamento relativo para poder utilizar top */
    top: 20px; /* Define a posição superior do elemento */
    opacity: 0px; /* Define a opacidade do elemento para 0 no caso transparente */
    float: right;
  
}



.child p {
    margin-left: 50px; /* Adiciona uma margem a esquerda dentro do elemento child */
    margin-top: 15px; /* Adiciona uma margem superior dentro do elemento child */
    color: gray; 
}

.child1 {
    width: 408px; 
    height: 110px;
    background-color: #FFFFFF; 
    border-radius: 25px; 
    position: relative; /* Define a posição como relativa */
    top: 90px; /* Define a posição superior do elemento*/
    float: right; /* Faz o elemento flutuar à direita */
}


.child1 p {
    margin-left: 50px;
    margin-top: 15px;
    color: gray;
}

.valor {
    margin-left: 47px;
    margin-top: 15px;
}
/* Estilização dos ícones */
.icon2 {
    float: right;
    margin: 35px;
    margin-right: 55px;

}

.icon3 {
    float: right;
    margin-top: 35px;
    margin-right: 55px;
}

.containerPerfil {
    display: flex; /* Define um container flexível */
    align-items: baseline; /* Alinha os itens ao longo da linha base */
    justify-content: center; /* Centraliza os itens no container */
    flex-direction: row; /* Define a direção dos itens em uma linha horizontal */
    position: relative;
    left: 900px;
    gap: 10px;
}


.criar_conta {
    background-color: white; 
    border: none; /* Remove a borda */
    padding: 0%; /* Remove o preenchimento interno */
    outline: none; /* Remove o contorno ao focar */
}

.criar_conta:focus {
    outline: none; /* Remove o contorno ao focar */
    box-shadow: none; /* Remove a sombra da caixa ao focar */
}

/* ajustando tamanho do logo nubank*/
#nubank{
    width: 32px;
    position: relative;
    right: 155px;
    top: 5px;
    
}
/*ajustando tamanho e posição do icon da lixeira*/
#LogoLixo{
    position: relative;
    left: 150px;
    top: 3px;
    width: 18px;

}
