input.form-control{
    border: none;
    color: red;
    font-size:27px;
}

.icone-input{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}


.p-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.brl{
    margin-bottom: 0;
    margin-top: 0;
}
.bi-calculator-fill{
    color: grey;
}
div.container input.btn-check:checked + label.btn-secondary-custom {
    background-color: #8E0000;
    color: #fff;
    border: none;
    border-radius: 17px;
}

div.container input.btn-check:focus + label.btn-secondary-custom {
    outline: none;
    box-shadow: none;
    border-radius: 17px;
}
.btn-secondary-custom {
    background-color: #6c757d !important;
    color: #fff !important;
    border-radius: 17px !important;
}

.btn-secondary-custom:hover {
    background-color: #808080 !important;
    border-radius: 17px ;
}

.btn-check:checked + .btn-secondary-custom {
    background-color: #8E0000 !important;
    color: #fff !important;
    border-color: hsl(0, 100%, 28%) !important;
    border-radius: 17px;
}

.btn-check:focus + .btn-secondary-custom {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 17px;
}
.my-custom-style .form-control {
    height: 150px; /* Altura personalizada */
    padding: 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 8px; /* Bordas arredondadas */
    border: 1px solid #ced4da; /* Cor da borda */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.form-floating>.form-control{
    height:50px !important;
}
/* Estilos para o label */
.my-custom-style label {
    padding: 0 10px; /* Espaçamento ao redor do texto */
    background-color: white; /* Fundo branco */
    color: #495057; /* Cor do texto */
    font-size: 14px; /* Tamanho da fonte */
    transition: all 0.3s ease-in-out;
}

/* Estilos para o textarea quando está focado */
.my-custom-style .form-control:focus {
    border-color:  transparent !important;
    box-shadow: none !important;
}

/* Ajuste para o label quando o textarea está focado ou preenchido */
.my-custom-style .form-control:focus + label,
.my-custom-style .form-control:not(:placeholder-shown) + label {
    font-size: 12px; /* Reduz o tamanho da fonte */
    color: transparent !important;
    transform: translateY(-20px); /* Move o label para cima */
}