@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: #EAEAEA;
    margin: 0;
    /* padding: 20px; */
}
.header {
    background-color: #EAEAEA;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #EAEAEA;
}
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 240px; /* Largura fixa dos cards */
    margin-left: 30px; /* Espaçamento à esquerda entre os cards */
    text-align: left;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
}
.card .value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.icon-bank { background-color: purple; }
.icon-expense { background-color: red; }
.icon-credit { background-color: teal; }
.icon-profit { background-color: green; }
.card-large {
    width: 100%;
    max-width: 400px;
}
.balance {
    text-align: right;
}
.balance .icon {
    background-color: transparent;
    color: black;
    font-size: 24px;
}

.restante_mensal{
    width:400px;
    margin-left:150px;
    margin-bottom: 50px;
    margin-top:40px;
}
.titulo_restanteMensal{
    margin-left: 40px;
}
.container_restanteMensal{
    display: flex;
    margin-top:15px
}
.barra-bicolor-vertical-menu {
    width: 23px; 
    height: 150px;
    border-radius: 13px;
    border: 1px solid black;
    background: linear-gradient(to bottom, #00c2b800 0%, #00c2b800 100%);
}
.container_mensal{
    display: flex;
    flex-direction: column; 
    margin-left:20px;
}
.ganhos{
    color:#99CB85;
    font-size:20px
}
.ganhosTotal-menu{
    color:#99CB85;
    font-size:20px;
}
.container_cartao{
    width:400px;
    margin-left: -5px
}
.titulo_cartao{
    margin-left: 40px;
}

.resultado_cartao{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}
.valor_cartao{
    color: #99CB85;
}
.valor{
    color:red
}
.container_resultadoCartao{
    margin-top:15px
}

.bi-credit-card{
    font-size: 25px;
}
.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 15px solid #C20000; 
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin-left: 80px ;
}
.total_despesa{
    display: flex;
    flex-direction:column;
    margin-top:15px;
 
}

.total{
    margin-bottom:0px;
}

.p_total{
    font-size:17px;
}

.container_despesa{
    width: 400px;
    margin-top:40px;
}
.despesas{
    color:#C20000;
    font-size:20px;
}

.titulo_despesa{
    margin-left: 40px;
}
.circle-container-ganhos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 15px solid #99CB85; 
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin-left: 80px ;
}
.total_ganhos{
    display: flex;
    flex-direction:column;
    margin-top:15px;
 
}

.dinheiro_ganhos{
    margin-bottom:0px;
}

.p_total_ganhos{
    font-size:17px;
}

.container_ganhos{
    width:400px;
    margin-left: 150px;
}

.titulo_ganhos{
    margin-left: 40px;
}

/* header*/
.icon-cartao{
    width:40px;
    height:40px; 
    background-color: #00C2B7; 
    border-radius: 100px; 
    display: flex;     
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon-despesa{
    width:40px;
    height:40px;  
    background-color: #C20000; 
    border-radius: 100px; 
    display: flex;     
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon-lucro{
    width:40px;
    height:40px;  
    background-color: #99CB85; 
    border-radius: 100px; 
    display: flex;     
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon-saldo{
    width:40px;
    height:40px;  
    background-color: #CD85CA; 
    border-radius: 100px; 
    display: flex;     
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.saldo{
    color: #737272;
}
.despesa{
    color: #737272
}
.cartao{
    color: #737272;
}
.lucro{
    color: #737272;
}

.cartao_lucro{
    display: flex; 
    flex-direction: row; 
    height: 110px;
}

@media (max-width: 768px) {
    .card {
        margin-left: 0; /* Remove o espaçamento à esquerda */
        margin-bottom: 20px; /* Adiciona espaçamento inferior */
    }
    .cartao_lucro{
        display: flex;
        flex-direction: column;
    }
}