@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');


:root {
    --header-height: 3rem;
    --nav-width: 79px;
    --first-color: white;
    background-color: #EAEAEA;
    --body-font: 'Open Sans', sans-serif;
    --z-fixed: 100;

    
}

*,
::before,
::after {
    box-sizing: border-box;
    
}

body .body-pd {
    
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: 18px;
    transition: .5s;
    background-color: #EAEAEA !important;
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #EAEAEA;
    z-index: var(--z-fixed);
    transition: .5s
}

.bi-chevron-right,
.bi-chevron-left {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 40px;
    transition: margin-left 0.5s ease; /* Adiciona uma transição suave para a propriedade margin-left */
}

.bi-chevron-left {
    margin-left: 200px;
}

.header_toggle{
    transition: .5s;
}

.botao span {
    font-size: 17px; 
    color: #ffffff; 
    margin-left: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao.botao-expandido {
    width: 100px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.header_img {
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 14px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.botao {
    width: 30px;
    height: 30px;
    border-radius: 19px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 22px;
    margin-bottom:20px;
    background-color: #D9D9D9;
    border: none;   
}

.bi-plus {
    font-size: 20px;
    font-weight: bolder;
    color:white;
    border-color: transparent;
}

.bi-plus::before {
    content: none;
}

span {
    margin-left: 15px
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    font-size: 18px;
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 18px;
    color: #99CD85
}

.nav_logo-name {
    color: #99CD85;
    font-weight: 700
}

.nav_link {
    position: relative;
    color: black;
    margin-bottom: 40px;
    transition: .1.5s;
    text-decoration: none;
    font-size: 17px
}

.nav_link:hover {
    color: #99cb85;
}

.nav_icon {
    font-size: 18px
}


i {
    font-size: 24px;
}


.show {
    left: 0
}


.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}


.active {
    color: #99CD85
}


.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    height: 40px;
    background-color: #99cb85
}


.botao::before {
    width:120px;
    height:35px;
}

.height-100 {
    height: 100vh
}

/*tela com o menu expandido*/
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 0rem);
        background-color: #EAEAEA !important;
      

    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
        position: static;
        background-color: #EAEAEA;
    }
   
    .header-toggle{
        margin-left:100px
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 164px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 170px);
        top: 0%;
        background-color: #EAEAEA;
        
    }
    
}