/* Conteúdo principal */
.main-content { 
    flex: 1; /*O elemento vai ocupar todo o espaço disponível no contêiner flexível pai*/
    background-color: #fafafa;  
    display: flex;
    flex-direction: column; /* Itens dentro do contêiner serão organizados em coluna */
}


/* Cabeçalho */
.header {
    background-color: #fff; 
    padding: 10px; 
    display: flex; 
    justify-content: flex-end; /* Alinha os itens no final do eixo principal (horizontal neste caso)*/
    align-items: center; /* Centraliza os itens*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}


/* Nome do usuário */
.profile span {
    margin-left: 10px;
    font-weight: bold; /* Define o peso da fonte como negrito */
}

/* Seção de contas */
.accounts-section {
    padding: 20px;
}

/* Cartão de nova conta */
.account-card {
    background-color: #fff; 
    padding: 20px; /* Adiciona 20 pixels de preenchimento interno */
    border-radius: 10px; /* Define o raio das bordas como 10 pixels para ter bordas arredondadas */
    display: flex; 
    align-items: center; /*Centraliza os itens no eixo transversal (vertical neste caso)*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra*/
    margin-right: 20px; 
    width: 200px; 
    justify-content: center; /* Centraliza os itens no eixo principal (horizontal neste caso) */
}


/* Ícone da nova conta */
.account-icon {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 10px;
}

/* Detalhes da conta */
.account-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column; /* Organiza os itens como uma coluna */
}

/* Título do formulário */
h2 {
    margin-top: 0;
}

/* Grupo de formulário */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Adiciona uma margem na parte inferior de 15px */
}

/* Rótulos dos campos de formulário */
.form-group label {
    margin-right: 10px;
    flex: 0 0 50px; /* Define as propriedades flexíveis do rótulo (será alterada quando transformar em responsivo) */
}

/* Campos de entrada */
.form-group input {
    flex: 1; /* Define que vai ocupar o espaço inteiro do container pai */
    padding: 5px;
}

/* Unidade monetária */
.form-group span {
    margin-left: 10px;
}

/* Botão de salvar */
.btn-save {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
    border-radius: 4px;
}

/* Efeito hover no botão */
button:hover {
    background-color: #45a049;
}
